@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css";
.App {
  text-align: center;
}

:root {
  --primary-color: #14b8a6;
  --secondary-color: #99f6e4;
  --light-teal: #f0fdfa;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #9ca3af;
  --light-grey-color: #f3f4f6;
  --primary-darkmode: #0b2239;
  --secondary-darkmode: #020a12;
  --dragactive-darkmode: #1a1d1f;
  --ready-border: #3b82f6;
  --in-progress-border: #eab308;
  --testing-border: #a855f7;
  --done-border: #22c55e;
  --red-color: #b91c1c;
  --light-red-color: #fecaca;
  --green-color: #15803d;
  --light-green-color: #bbf7d0;
  --yellow-color: #a16207;
  --light-yellow-color: #fef08a;
}

.bgDarkmode {
  background-color: var(--primary-darkmode) !important;
  color: var(--white-color) !important;
}

.bgSecondaryDarkMode {
  background-color: var(--secondary-darkmode) !important;
  color: var(--white-color) !important;
  border-radius: 5px !important;
}

.darkModeColor {
  color: var(--white-color) !important;
}

.darkModeBorder {
  border-color: var(--primary-darkmode) !important;
}
